=javascript_include_tag '/assets/javascripts/community_engine'
=stylesheet_link_tag '/assets/stylesheets/community_engine'

=javascript_include_tag '/assets/javascripts/prototype'
=javascript_include_tag '/assets/javascripts/effects'
-#=javascript_include_tag '/assets/javascripts/event-selectors'
=javascript_include_tag '/assets/javascripts/controls'

=javascript_include_tag 'jquery-1.4.2.min'
=javascript_include_tag 'ticker'

=stylesheet_link_tag "/assets/stylesheets/lightbox"
=stylesheet_link_tag "/assets/stylesheets/reset-fonts-grids"
=stylesheet_link_tag "/assets/stylesheets/screen - black"
=stylesheet_link_tag 'formtastic'
=stylesheet_link_tag 'formtastic_changes'

= include_tiny_mce_if_needed

- if forum_page?
  = javascript_include_tag '/assets/javascripts/forum'
  = stylesheet_link_tag '/assets/stylesheets/forum'

  - unless @feed_icons.blank?
    - @feed_icons.each do |feed|
      = auto_discovery_link_tag :rss, feed[:url], :title => "Subscribe to '#{feed[:title]}'"
